<!DOCTYPE html>

<html>

<head>
        <link rel="stylesheet" href="css/style.css">
</head>

<body>
        {{>header}}
    <div class="main-content">
    <head>{{body}}</head>
    <form>
        <input placeholder="Location">
        <button>Search</button>
        <p id="mess1"></p>
        <p id="mess2"></p>
    </form>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>